
.home-columns-container {
    position: absolute;
    top: 80px;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 1fr;
    column-gap: 0%;
    grid-template-areas: 
    "css_form_container display_container inputs_container"
}

#main-CssForm-container { 
    grid-area: css_form_container;
    width: 100%;  
    overflow-y: auto;  
    box-sizing: border-box;
}

#main-Display-container { 
    grid-area: display_container;
    overflow-y: auto;
    width: 100%;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}

#main-Inputs-container { 
    grid-area: inputs_container;
    width: 100%;
    margin-left: 0;
    padding: 0;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
 }

/******************************************/

@media screen and (max-width: 950px) {
    .home-columns-container {
        grid-template-columns: 35% 40% 25%;
        column-gap: 0%;
    }
}

@media screen and (max-width: 590px) {
    .home-columns-container {
        top: 0px;
        grid-template-columns: 59.5% 40%;
        grid-template-rows: auto;
        column-gap: 0%;
        row-gap: 1%;
        grid-template-areas: 
        "display_container display_container"
        "css_form_container inputs_container"
    }

    #main-CssForm-container {  
        overflow-y: hidden;  
    }

    #main-Display-container {
        border: 1px solid gainsboro;
    }

    .input-container {
        margin: 0 15px 0 0;
        box-sizing: border-box;
    }
}